@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header__logo-link {
    text-align: center;
    color: var(--text-color);
}

p.header__logo-name {
    font-family: "Pacifico", serif;
    font-size: 28px;
    line-height: 30px;
}

p.header__logo-desc {
    font-family: "Caveat", serif;
    font-size: 20px;
    line-height: 26px;
}

form#search__container {
    background-color: #fafafa;
    width: 500px;
    display: flex;
    border: 1px solid var(--border-color);
    position: relative;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search__box {
    background-color: #f0f1f2;
    height: 45px;
    flex: 1;
    padding-left: 15px;
    border-radius: 49px 0 0 49px;
    border: none;
    font-size: 15px;
}

i.search__icon.fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 45px;
    border-radius: 0 49px 49px 0;
    font-size: 17px;
    cursor: pointer;
}

.tags {
    display: flex;
    margin-top: 1px;
}

.tags strong {
    font-size: 15px;
    margin-left: 10px;
    cursor: default;
    user-select: none;
}

.tags a {
    margin: 0 5px;
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
}

.tags a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.header__tool {
    display: flex;
}

.header__tool > .header__tool-item {
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50%;
    color: var(--text-color);
    margin: 0 10px;
    transition-duration: 0.2s;
}

.header__tool > .header__tool-item:hover {
    border: 1px solid var(--white-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

#header__lower {
    border: 1px solid var(--border-color);
    height: var(--header-lower-height);
    border-radius: var(--header-lower-height);
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.header__lower-list {
    margin-left: 25px;
    display: flex;
}

.header__lower-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.header__lower-item:hover {
    color: var(--text-hover);
}

.category-list {
    display: flex;
    align-items: center;
}

.header__lower-icon {
    display: flex;
    margin-right: 5px;
    transform-origin: 0.2s;
}

.header__lower-item--icon {
    display: block;
    margin-left: 2px;
    width: 10px;
    color: var(--text-color);
}

.hidden {
    display: none;
}

.header__lower-item:hover .fa-caret-right {
    display: none;
}

.header__lower-item:hover .fa-caret-down {
    display: inline-block;
}

.header__lower-item--icon:hover {
    pointer-events: none;
}

.header__lower-item:hover .header__lower-icon {
    color: var(--primary-color);
}

.category-menu {
    width: 200px;
    background-color: #f0f0f0;
    position: absolute;
    top: calc(100% + 8px);
}

.category-menu__item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.category-menu__item:last-child {
    border-bottom: none; 
}

.category-menu__item:hover {
    background-color: #ddd;
}

.category__item {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
    width: 100%;
}